body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
}

a{
    color: rgb(235, 231, 17);
    text-decoration: none;
}

a:hover{
    color: blueviolet;
}

nav ul li a,
h1 {
    color:chartreuse;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}